
body{
    background-color: white;
    margin: 0;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-snap-type:  y mandatory;
    scroll-snap-align: center;
}
.title{
    font-size: 30px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    padding-left: 30px;
    font-weight: bolder;
    padding-left: 15%;
    letter-spacing: 10px;
    background-color: white;
}
.contact{
    padding-left: 80%;
    background-color: white;
}
.contact i{
    color: #f01d7f;
    font-size: 20px;
    top: 0;
    transition-property: all;
    transition-duration: 1s;
    position: relative;
}
.contact i:hover{
    transform: rotateY(240deg);
}
header{
    display: inline-flex;
    background-color: rgba(0,0,0,0);
    z-index: 9999;
    width: 100%;
    height: max-content;
    top: 0;
    position: fixed;
    padding: 10px;
    transition-property: all;
    transition-duration: 1s;
    /* border-bottom: 4px solid #ff019d;
    border-top: 4px solid #ff019d; */
}
menu{
    margin-left: -100px;
    z-index: 999;
}
#logo{
    margin-left: 30%;
    position: fixed;
}
*{
    scroll-behavior: smooth;
    background-repeat: no-repeat;
    background-size: cover;
}
.main{
    background: url("images/pexels-ali-pazani-2787341.jpg");
    background-repeat: no-repeat;
    background-position-y: -400px;
    background-size: cover;
    height: max-content;
    width: 100%;
    scroll-behavior: smooth;
    scroll-snap-type: y mandatory;
}
.intro{
    /* background: url(images/pretty_.jpg); */
    height: 100vh;
    width: 100%;
    background-repeat: no-repeat;
    background-size: cover;
    padding-top: 1px;
}
.intro p{
    top: 200px;
    left: 100px;
    margin: auto;
    position: relative;
    font-size: 50px;
    font-weight: bold;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    animation-name: slideDown;
    animation-iteration-count: 1;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: none;
    animation-timing-function: ease-out;
    transition-property: all;
    opacity: 0;
}

@keyframes slideDown{
    0%{
        right: -50px;
    }
    75%{
        top: 310px;
        opacity: 0;
        transform: rotateY(180deg);
    }
    100%{
        top: 200px;
        transform: scale(1);
        opacity: 10;
    }
}
.intro #book{
    color: white;
    text-decoration: none;
    border: 2px solid black;
    background-color: black;
    height: 50px;
    width: 150px;
    border-radius: 5px;
    font-size: 15px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
    padding: 15px;
    top: 220px;
    left: 250px;
    position: relative;
    opacity: 0;
    animation-name: slideIn;
    animation-duration: 1s;
    animation-delay: 2s;
    animation-timing-function: ease-in;
    animation-iteration-count: 1;
    animation-fill-mode: forwards;
}
@keyframes slideIn{
    0%{
        left: -50px;
        border-radius: 20px;
    }
    100%{
        left: 250px;
        opacity: 1;
        border-radius: 5px;
    }
}
.intro #book:hover{
    background-color: rgba(0,0,0,0.5);
    color: white;
    border: 1px solid black;
    border-radius: 5px;
}
.intro #book:active{
    background-color: gainsboro;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
}
.modal{
    z-index: 5;
    top: 0;
    left: 0;
    position: fixed;
    background-color: transparent;
    opacity: 1;
    height: 100%;
    width: 100%;
    padding-top: 180px;
    display: none;
}
.modal-content{
    background-color: lightpink;
    height: 370px;
    width: 500px;
    padding: 20px;
    position: relative;
    left: 30px;
    top: 1px;
    opacity: 0;
    margin: 0 auto;
    /* padding-top: 30px; */
    font-size: 18px;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    display: inline-flex;
    animation: Up;
    animation-duration: 2s;
    animation-fill-mode: forwards;
    animation-delay: -1s;
    animation-timing-function: ease-in;
}
.modal-content a{
    border: 1px solid black;
    text-decoration: none;
    color: #fff;
    background-color: black;
    border-radius: 10px;
    width: max-content;
    padding: 10px 30px 0px 30px;
    height: 30px;
    margin-left: 1px;
    display: inline-flex;
    letter-spacing: 2px;
}
@keyframes Up{
    0%{
        top: -50px;
    }
    100%{
        opacity: 1;
        top: 1px;
        background-color: lightpink;
        height: 370px;
        width: 500px;
        padding: 20px;
        position: relative;
        left: 30px;
        margin: 0 auto;
        /* padding-top: 30px; */
        font-size: 18px;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
        display: inline-flex;
    }
}
.modal-content h1{
    font-size: 15px;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    line-height: 20px;
    padding: 15px;
}
.modal-content span{
    float: right;
    cursor: pointer;
    color: black;
    font-size: 30px;
    padding: 0 0px 10px 10px;
}
.modal-content a:hover{
    background-color: rgba(0,0,0,0.8);
    color: white;
}
.products{
    background: #fff;
    width: 100%;
    height: max-content;
    scroll-snap-type:  y mandatory;
    display: inline-flex;
    flex-wrap: wrap;
    padding-top: 20px;
    padding-bottom: 20px;
    background-size: cover;
    background-repeat: no-repeat;
}
.products div{
    transition-property: all;
    transition-duration: 1s;
    margin-bottom: 20px;
    position: relative;
    border: 2px solid rgb(148, 146, 146);
    border-radius: 4px;
    background: rgb(148, 144, 144);
    width: max-content;
    margin-left: 40px;
}
.products div img{
    width: 311.75px;
    height: 311px;
}
.products div:nth-child(1):hover,
.products div:nth-child(2):hover,
.products div:nth-child(3):hover,
.products div:nth-child(4):hover{
    transform: translateY(-13px);
}

.earrings{
    height: 380px;
    width: 311px;
    /* margin-right: 10px; */
    margin-left: 20px;
    background-color:palevioletred;
}
.watches{
    height: 380px;
    width: 311.75px;
    /* margin-right: 10px; */
    background-color: #ccc;
}
.bracelets{
    height: 380px;
    width: max-content;
    background-color: #ccc;
}
.necklaces{
    height: 380px;
    width: max-content;
    margin-left: 10px;
    background-color: #ccc;
}
.products p{
    color: black;
    font-size: 18px;
    font-family: cursive;
    font-weight: lighter;
    padding-left: 70px;
}
.handbags{
    height: 380px;
    width: max-content;
    margin-left: 20px;
    background-color: #ccc;
}
.belts{
    height: 380px;
    width: max-content;
    margin-left: 10px;
    background-color: #ccc;
}
.sunglasses{
    height: 380px;
    width: max-content;
    margin-left: 10px;
    background-color: #ccc;
}
.scarfs{
    height: 380px;
    width: max-content;
    margin-left: 10px;
    background-color: #ccc;  
}
.tops{
    height: 380px;
    width: max-content;
    margin-left: 20px;
    background-color: #ccc;
}
.sandals{
    height: 380px;
    width: max-content;
    margin-left: 10px;
    background-color: #ccc;
}
.gif{
    float: right;
    height: 380px;
    width: 311px;
    margin-left: 10px;
}
.products div:nth-child(5):hover,
.products div:nth-child(6):hover,
.products div:nth-child(7):hover,
.products div:nth-child(8):hover{
    transform: translateY(13px);
}
.products div:nth-child(9):hover,
.products div:nth-child(10):hover,
.products div:nth-child(11):hover,
.products div:nth-child(12):hover{
    transform: scale(1.1);
    border: 1px solid transparent;
}
.about-us{
    width: 100%;
    height: max-content;
    background-color: lightpink;
    padding-top: 40px;
    padding-bottom: 40px;
    display: inline-flex;
}
.about-us span{
    font-family: Arial, Helvetica, sans-serif;
}
.about-us p{
    margin-left: 2%;
    font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
    font-size: 18px;
    line-height: 25px;
    letter-spacing: 2px;
    word-spacing: 5px;
}
.footer{
    display: inline-flex;
    flex-wrap: wrap;
    width: 100%;
    height: max-content;
    background-color: black;
    padding: 30px 1px;
    margin-top: 3px;
    color: #ffff;

}
.footer ul li{
    list-style-type: none;
    padding: 10px;
}
.footer ul li a:hover,
.footer ul li:hover{
    color: deepskyblue;
}
.footer a{
    text-decoration: none;
    color: white;
}
.footer span a{
    padding: 0;
    margin: 0;
    color: #ccc;
}
.footer span{
    margin-left: 23.33%;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}
.footer div{
    color: white;
    text-align: center;
    height: 200px;
    background-color: black;
    /*border: 1px solid white;*/
    width: max-content;
    padding: 10px 30px;
    margin: 0 5px;
    font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;

}
.footer h1{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-size: 17px;
}
.terms{
    background-color: black;
    color: white;
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}
.terms a{
    color: salmon;
    text-decoration: underline 1px salmon;
}
    .msg{
        height: max-content;
        width: 100%;
        background-color: #f01d7f;
        background:url(images/model.jpg);
        background-size: cover;
        background-attachment: fixed;
        align-items: center;
        padding-top: 10px;
        padding-bottom: 10px;
    }
    .msg form{
        height: max-content;
        background-color: rgba(0,0,0,0.5);
        border: 2px solid salmon;
        border-radius: 5px;
        width: max-content;
        padding: 10px 30px;
        margin-left: 33%;
    }
    .msg form input{
        border: 2px solid salmon;
        border-radius: 3px;
        width: 250px;
        height: 30px;
        background: transparent;
        color: salmon;
        padding: 5px 10px;
    }
    .msg textarea{
        border: 2px solid salmon;
        border-radius: 3px;
        width: 250px;
        background: transparent;
        color: salmon;
        padding: 5px 10px;
    }
    .msg h1{
        font-size: 20px;
        font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
        color: salmon;
        padding: 1px;
        margin-left: 23%;
    }
    .msg label{
        color: salmon;
        text-transform: capitalize;
        font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    }
    ::placeholder{
        opacity: 1;
    }











/* RESPONSIVENESS */
@media (max-width: 320px){
    body{
        overflow-x: hidden;
        margin: 0;
    }
    header img{
        display: block;
    }
    header nav{
        padding-left: 0;
        padding-right: 5px;
    }
    header a{
        padding: 1px;
        font-size: 10px;
    }
    .intro{
        height: 100vh;
        padding: 0;
        background-position-x:-100px ;
        background-image: url(images/pexels-ali-pazani-2787341.jpg);
        background-size: cover;
    }
    .intro p{
        left: 20px;
        top: 10px;
        font-size: 4vw;
    }
    .intro #book{
        color: white;
        text-decoration: none;
        border: 2px solid black;
        background-color: black;
        height: 40px;
        width: 120px;
        border-radius: 5px;
        font-size: 13px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 15px;
        top: 280px;
        left: 50px;
        position: relative;
        animation: slide;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        opacity: 1;
    }
    .modal-content{
        width: 200px;
        left: 20px;
        top: 0;
        height: max-content;
        display: block;
        justify-content: space-between;
    }
    .modal-content a{
        margin-bottom: 20px;
        width: 100px;
    }

    @keyframes slide{
        0%{
            left: -50px;
        }
        100%{
            left: 50px;
        }
    }
    .products img{
        width: 165px;
    }
    .products div{
        margin: 0;
        width: 99%;
        margin: 1px 0 1px 1px;
    }
    .products{
        background: transparent;
    }
    .msg{
        width: max-content;
        background-size: cover;
        background: whitesmoke;
        margin: 1px;
    }

    *{
        margin: 0;
    }
    .msg form{
        margin-left: 10px;
        width: 99%;
        padding: 10px 5px;
    }
    .about-us{
        display: block;
        width: 100%;
    }
    .about-us img{
        width: 100%;
        height: auto;
    }
    .about-us p{
        width: 100%;
        height: auto;
    }
    .footer div{
        margin: 0;
        padding: 5px;
        width: max-content;
        text-align: center;
        font-size: 3vw;
    }
    .contacts{
        padding: 0;
        margin: 0;
    }
    .footer a{
        padding: 0;
        margin: 3px;
        font-size: 3.5vw;
    }
    .footer span{
        font-size: 3vw;
        margin: 0;
    }
    .terms{
        text-align: unset;
        font-size: 3vw;
    }
}
@media (min-width: 321px) and (max-width:460px){
    body{
        overflow-x: hidden;
        margin: 0;
    }
    header img{
        width: 50px;
        height: 50px;
        display: block;
    }
    header nav{
        padding-left: 0px;
        padding-right: 1px;
        float: right;
        position: relative;
    }
    header a{
        padding: 1px;
        font-size: 10px;
    }
    .intro{
        height: 400px;
        padding: 0;
        background-image: url(images/Pretty\(4\).gif);
        background-size: 100%;
    }
    .intro p{
        left: 20px;
        top: 10px;
        font-size: 4vw;
    }
    .intro #book{
        color: white;
        text-decoration: none;
        border: 2px solid black;
        background-color: black;
        height: 40px;
        width: 120px;
        border-radius: 5px;
        font-size: 13px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 15px;
        top: 280px;
        left: 50px;
        position: relative;
        animation: slide;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        opacity: 1;
    }
    .modal-content{
        width: 200px;
        left: 20px;
        top: 0;
        height: max-content;
        display: block;
        justify-content: space-between;
    }
    .modal-content a{
        margin-bottom: 20px;
        width: 100px;
    }

    @keyframes slide{
        0%{
            left: -50px;
        }
        100%{
            left: 50px;
        }
    }
    .products img{
        width: 100%;
        height: auto;
    }
    .products div{
        margin: 0;
        width: 100%;
        height: auto;
    }
    .products{
        background: black;
    }    
    .footer a{
        padding: 0;
        margin: 3px;
        font-size: 3.5vw;
    }
    .footer span{
        font-size: 3vw;
        margin: 0;
    }
}
@media (min-width: 460px) and (max-width: 768px){
    body{
        overflow-x: hidden;
        margin: 0;
    }
    header img{
        width: 50px;
        height: 50px;
        display: block;
    }
    header nav{
        padding-left: 170px;
        padding-right: 5px;
        float: right;
        position: relative;
    }
    header a{
        padding: 1px;
        font-size: 10px;
    }
    .intro{
        height: 400px;
        padding: 0;
        background-image: url(images/Pretty\(4\).gif);
        background-size: 100%;
    }
    .intro p{
        left: 20px;
        top: 10px;
        font-size: 4vw;
    }
    .intro #book{
        color: white;
        text-decoration: none;
        border: 2px solid black;
        background-color: black;
        height: 40px;
        width: 120px;
        border-radius: 5px;
        font-size: 13px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 15px;
        top: 280px;
        left: 50px;
        position: relative;
        animation: slide;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        opacity: 1;
    }
    .modal-content{
        width: 200px;
        left: 20px;
        top: 0;
        height: max-content;
        display: block;
        justify-content: space-between;
    }
    .modal-content a{
        margin-bottom: 20px;
        width: 100px;
    }

    @keyframes slide{
        0%{
            left: -50px;
        }
        100%{
            left: 50px;
        }
    }
    .products img{
        width: 100%;
        height: auto;
    }
    .products div{
        margin: 0;
        width: 100%;
        height: auto;
    }
    .products{
        background: black;
    }    
    .footer a{
        padding: 0;
        margin: 3px;
        font-size: 3.5vw;
    }
    .footer span{
        font-size: 3vw;
        margin: 0;
    }

}
@media (min-width: 769px) and (max-width: 1200px){
    body{
        overflow-x: hidden;
        margin: 0;
    }
    header img{
        width: 50px;
        height: 50px;
        display: block;
    }
    header nav{
        padding-left: 350px;
        padding-right: 5px;
    }
    header a{
        padding: 1px;
        font-size: 10px;
    }
    .intro{
        height: 500px;
        padding: 0;
        background-image: url(images/pexels-pixabay-458766.jpg);
        background-size: cover;
    }
    .intro p{
        left: 20px;
        top: 10px;
        font-size: 4vw;
    }
    .intro #book{
        color: white;
        text-decoration: none;
        border: 2px solid black;
        background-color: black;
        height: 40px;
        width: 120px;
        border-radius: 5px;
        font-size: 13px;
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        padding: 15px;
        top: 280px;
        left: 50px;
        position: relative;
        animation: slide;
        animation-duration: 1s;
        animation-timing-function: ease-out;
        animation-iteration-count: 1;
        animation-fill-mode: forwards;
        opacity: 1;
    }
    .modal-content{
        width: 200px;
        left: 20px;
        top: 0;
        height: max-content;
        display: block;
        justify-content: space-between;
    }
    .modal-content a{
        margin-bottom: 20px;
        width: 100px;
    }

    @keyframes slide{
        0%{
            left: -50px;
        }
        100%{
            left: 50px;
        }
    }
    .products img{
        width: 100%;
        height: auto;
    }
    .products div{
        margin: 0;
        width: 100%;
        height: auto;
    }
    .products{
        background: black;
    }    
    .footer a{
        padding: 0;
        margin: 3px;
        font-size: 1.5vw;
    }
    .footer span{
        font-size: 2vw;
        margin: 0;
    }
}